@model WebApp_complete.Models.EmployeeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMP_TABLE</h4>
    
    <dl class="dl-horizontal">
        <dt>
            Fname:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
           Lname:
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            Age:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Doj:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doj)
        </dd>

        <dt>
            Pan:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pan)
        </dd>

        <dt>
            Aadhar:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadhar)
        </dd>

        <dt>
           Salary:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            DepartmentName:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            AddressLine1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine1)
        </dd>
        <dt>
            AddressLine2:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddressLine2)
        </dd>
        <dt>
            ZipCode:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt>
            LandMark:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.LandMark)
        </dd>
        <dt>
            CountryName:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Country.CountryName)
        </dd>
        <dt>
            StateName:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.State.StateName)
        </dd>
        <dt>
            Skill:
        </dt>
        <dd>
            <div class="tag-container">
                @foreach (var skill in Model.Skills)
                {
                    <div class="tag border-area">
                    @skill.Name
                   </div>
                }

            </div>
        </dd>
        <dt>
            Hobbies:
        </dt>

        <dd>
            <div class="tag-container">
                @foreach (var Hobby in Model.Hobbies)
                {
                    <div class="tag border-area">
                        @Hobby.Name
                        </div>
                }

                    </div>

</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Empid }) |
    @Html.ActionLink("Back to List", "List")
</p>
