@model List<WebApp_complete.EMP.State>


@using (Html.BeginForm("SortingState", "EMP", FormMethod.Get))
{
    /*<p>
        @Html.ActionLink("Create New", "CreateState")
    </p>*/
    <br>
    
    <b> Search Option: </b>

    @Html.TextBox("searching")
    <input type="submit" value="Search" />

 <br>
    <br>
    <table class="table">
        <tr>
        <tr>
            <th>StateName</th>
            <th>StateCode</th>
            <th>Action</th>
        </tr>

        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        no match
                    </td>
                </tr>


            }
            else
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>

                    <td>
                        <a href="@Url.Action("UpdateState", new { id = item.StateId }) " class="btn btn-success">Update</a>
                        <a href="@Url.Action("DeleteState", new { id = item.StateId })" class="btn btn-danger">delete</a>

                    </td>

                </tr>
                }
            }
        </tbody>
    </table>
}


