@model List<WebApp_complete.Models.EmployeeModel>



@using (Html.BeginForm("Sorting", "Employee", FormMethod.Get))
{
    @Html.ActionLink("Create New", "Create")

    <br>
    <b> Search Option: </b>
    
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
    <br>

    <br>
    <table class="table table-responsive table-bordered">

        <tr>
            <th>Profile Photo</th>
            <th>Full Name</th>
            <th>Pan</th>
            <th>Aadhar</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Skills</th>
            <th>Hobbies</th>
            <th>CountryName</th>
            <th>StateName</th>
            <th>Action</th>
        </tr>

        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        no match
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
        <tr>
            <td>
                <img src="~/Image/@item.Image.ImagePath"
                     class="rounded-circle"
                     height="40" width="40"
                     />
               
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fname) @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aadhar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>

                <div class="tag-container">
                    @foreach (var skill in item.Skills)
                    {
                        <div class="tag border-area">
                            @skill.Name
                        </div>
                    }

                </div>
            </td>
            <td>
                <div class="tag-container">
                    @foreach (var Hobby in item.Hobbies)
                    {
                        <div class="tag border-area">
                            @Hobby.Name
                        </div>
                    }

                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Country.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State.StateName)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Empid }) " class="btn btn-success btn-action">Edit</a>
                <a href="@Url.Action("Delete", new { id = item.Empid })" class="btn btn-danger btn-action">delete</a>
                <a href="@Url.Action("Details", new { item.Empid })" class="btn btn-primary btn-action">Details</a>
            </td>
        </tr>
                }
            }
        </tbody>
    </table>
}
