@model IEnumerable<WebApp_complete.Models.HobbiesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Hobbies</th>
        <th>Created On</th>
        <th>Last Modified On</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hobbies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id }) " class="btn btn-success btn-action">Edit</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-action">delete</a>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-primary btn-action">Details</a>
            </td>
</tr>
}

</table>
